﻿select{
    padding: 2.3px;
    margin-left: 10px;
}
button{
    background-color: cadetblue;
    color: white;
    margin-top: 10px;
    margin-left: 183px;
}

button:active{
    background-color: darkslateblue;
}

* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0 auto;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
}
.div{
    display: block;
}

.converter_body{
    display: inline-flex;
    justify-content: space-between;
    margin-left: 250px;
    padding: 15px;
}

span{
    margin-left: 10px;
}

.converter_item_value {
    margin-top: 10px;
    position: relative;
    margin-left: 10px;
}
